@media screen and (max-device-width: 1024px) {
  .diyw a.switchViewWeb {
    display: inline !important;
  }
}

@media screen and (min-device-width: 1024px) {
  .mediumScreenDisabled {
    display: block
  }

  .smallScreenDisabled {
    display: block
  }
}

@media screen and (max-device-width: 1024px) {
  .mediumScreenDisabled {
    display: none
  }
}

@media screen and (max-device-width: 568px) {
  .smallScreenDisabled {
    display: none
  }
}

@media screen and (min-width: 1024px) {
  .mobilepreview .mediumScreenDisabled {
    display: block
  }

  .mobilepreview .smallScreenDisabled {
    display: block
  }
}

@media screen and (max-width: 1024px) {
  .mobilepreview .mediumScreenDisabled {
    display: none
  }
}

@media screen and (max-width: 568px) {
  .mobilepreview .smallScreenDisabled {
    display: none
  }
}